:root {
  --color-primary: #75f;
  --color-secondary: #2bf;
  --color-tertiary: #afc;
  --color-background: #000;
  --color-surface: #111;
  --color-highlight: #ff0;
  --color-text-on-primary: #000;
  --color-text-on-secondary: #000;
  --color-text-on-tertiary: #000;
  --color-text-on-background: #fff;
  --color-text-on-surface: #fff;
  --color-text-on-highlight: #000;

  --gradient: var(--color-primary), var(--color-secondary),
    var(--color-tertiary);

	--flex-column: column wrap;

  --font-body: "Inter";
  --font-heading: var(--font-body);

  --font-size-heading: clamp(4rem, 15vi, 9rem);
  --font-size-icons: clamp(2rem, 1.12rem + 4.41vw, 3.125rem);
  --font-size-title: 1.75rem;
  --font-size-body: 1.25rem;
  --font-size-link: 1.125rem;
  --font-size-small: 0.825rem;

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --line-height-heading: 1;
  --line-height-body: 1.7;
  --line-height-quote: 1.5;
  --line-height-ui: 1;

  --letter-spacing-heading: -0.02ch;
  --letter-spacing-body: 0.03em;

  --space-16: 1rem;
  --space-18: 1.125rem;
  --space-20: 1.25rem;
	--space-48: 3rem;
  --space-32: 2rem;
	--space-96: 6rem;
	--space-112: 7rem;
	--space-large: 15vb;

  --size-ui: 2.75rem;
	--size-about-top: 20vb;
	--size-about-bottom: 15vb;
	--size-desktop: 48rem;

  --gap: var(--space-16);
	--margin: var(--space-16);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-secondary: #18f;
    --color-tertiary: #0a6;
    --color-background: #fff;
    --color-surface: #f0f0f0;
    --color-text-on-primary: #fff;
    --color-text-on-secondary: #fff;
    --color-text-on-tertiary: #fff;
    --color-text-on-background: #000;
    --color-text-on-surface: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-background);
  color: var(--color-text-on-background);
  font-optical-sizing: auto;
  font-family: var(--font-body, sans-serif);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  -webkit-hyphens: none;
  hyphens: none;
}

small {
	font: inherit;
}

a {
  font-weight: var(--font-weight-bold);
  color: inherit;
  white-space: nowrap;
  text-decoration: none;
}

p a {
  color: var(--color-secondary);
}

p a:is(:hover, :focus-visible) {
  color: var(--color-tertiary);
  text-decoration: underline;
}

::selection {
  color: var(--color-text-on-highlight);
  background-color: var(--color-highlight);
}

[data-sr] {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

[data-layout],
[data-layout-wide] {
  inline-size: 100%;
}

[data-layout] {
  max-inline-size: var(--size-desktop);
  margin-inline: auto;
	padding-inline: var(--space-16);
}

[data-layout-wide] {
	padding-inline: var(--margin);
}

@media (min-width: 48rem) {
  :root {
		--flex-column: row wrap;
		--margin: var(--space-48);
  }
}
