---
import { Section, Links } from "../constants";
import Button from "../components/Button.astro";
---


<section class="root" data-layout aria-labelledby="info">
	<h2 id="info" data-sr>{Section.INFO}</h2>

	{Links.Info.map((link) => (
		<Button
			label={link.LABEL}
			href={link.URL}
			icon={link.ICON}
			newTab
		/>
	))}

</section>


<style>
	.root {
		contain: content;
		content-visibility: auto;
		display: grid;
		grid: auto / 1fr;
		padding-block: 0 20vh;
		contain-intrinsic-size: 0 19rem;
		gap: var(--gap);
	}

	@media (min-width: 44rem) {
		.root {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	h3 {
		grid-column: 1 / -1;
		font-size: var(--font-size-link)
	}

	h3:not(:first-of-type) {
		margin-block-start: var(--space-32);
	}
</style>
